<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mapper.member">
	<!-- member join-->
	<insert id="join" parameterType="com.shoppingmall.vo.Myshop_memberVO">
		insert into myshop_member 
			values (#{id}, #{pass}, #{name}, #{email}, #{zonecode}
				, #{hp}, #{pnumber}, #{addr}, #{birth}, sysdate, 'BASIC'
				, #{email_check}, #{gender})
	</insert>
	
	<!-- member idcheck-->
	<select id="idcheck" parameterType="java.lang.String" resultType="int">
		select count(*) from myshop_member where id = #{id}
	</select>
	
	<!-- member login-->
	<select id="login" parameterType="com.shoppingmall.vo.Myshop_memberVO" resultType="com.shoppingmall.vo.SessionVO">
		select count(*) loginresult, name, id
			from myshop_member where id=#{id} and pass=#{pass}
			group by name, id
	</select>

</mapper>  